export VIRTUAL_ENV=$HOME/.pyenv/versions/3.9.6/envs/multi-tenant-application
export PYENV_VERSION=multi-tenant-application
export DB_USER=root
export DB_PASSWORD=root
export DB_HOST=localhost
export DB_HOST_1=localhost
export DB_HOST_2=localhost
export DB_HOST_3=localhost
